.container {
  background: url("../_images/_bg_1.jpg");
  border-radius: 0.25rem;
}

.jumbotron {
  border: black dashed 2px;
  background-color: white;
}

.table-bordered {
  border: 3px dashed gray;
}

.task-description {
  background-color: #fff;
  padding: 1em;
  border-radius: 0.25rem;
  box-shadow: 0px 0px 3px 1px;
}
